---
permalink: /tags/
layout: default.njk
---
<h1 class="text-3xl mb-4">Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="underline">{{ tag }}</a>
{% endfor %}